div#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 5px;
}

div#root > h1 {
  grid-column: 1/3;
  padding: 10px;
}

div.scoreboard {
  grid-column: 4/5;
  padding-bottom: 5px;
}
