.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 5px;
  justify-self: center;
}

.card img {
  width: 175px;
  height: 200px;
  object-fit: contain;
}

.card:hover {
  cursor: pointer;
}
